@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800');

* {
    max-width: 100%;
    box-sizing: border-box;
    font-family: Poppins, 'san-serif';
    scroll-behavior: smooth;
}
.home__main {
    animation: 1000ms slideIn ease-out;
    animation-fill-mode: forwards;
    opacity: 0;
}
@keyframes slideIn {
    0% {
        opacity:0;
        transform: translateX(-300px)
    }
    100% {
        opacity:1;
        transform: translateX(0px)
    }
}
.home__svg {
    animation: 1000ms slideInSVG ease-out;
    animation-fill-mode: forwards;
    opacity: 0;
}
@keyframes slideInSVG {
    0% {
        opacity:0;
        transform: translateY(300px)
    }
    100% {
        opacity:1;
        transform: translateY(0px)
    }
}
.downNav {
    animation: 1000ms bounceUpDown ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

@keyframes bounceUpDown {
    0% {
        transform: translateY(10px)
    }
    100% {
        transform: translateY(-10px)
    }
}

.tiltDiv {
    transform: rotate(3deg);
}
.tiltDiv li {
    margin-bottom: 10px;
}
.loader {
    animation : 800ms loader linear infinite;
    width: 2rem;
    height: 2rem;
    background-color: transparent;
    border : 4px solid white;
    border-top : 4px solid rgb(1, 159, 238);
    border-radius: 50%;
}
.redloader {
    animation : 600ms loader linear infinite;
    width: 1.8rem;
    height: 1.8rem;
    background-color: transparent;
    border : 4px solid rgb(100, 100, 100);
    border-top : 4px solid rgb(185, 0, 0);
    border-radius: 50%;
}
@keyframes loader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.box {
    animation: 1000ms boxOpen1 ease-in-out forwards;
    margin : 0 auto;
    border : 1px solid #353535;
    display : flex;
    justify-content : center;
    align-items : center;
    border-radius: 5px;
}
.box2 {
    animation: 1000ms boxOpen2 ease-in-out forwards;
    margin : 0 auto;
    border : 1px solid #353535;
    display : flex;
    justify-content : center;
    align-items : center;
    border-radius: 5px;
}

.mainText {
    animation: 1000ms textOpen ease-in-out forwards;
    width : 100%;
    animation-delay: 800ms;
    transform-origin: top;
    opacity: 0;
}
#homeLinks {
    animation: 800ms linkOpen ease-in-out forwards;
    animation-delay: 800ms;
    transform-origin: top;
    transform : scaleY(0);
    opacity: 0;
}
@keyframes boxOpen1 {
    0% {
        height : 0px;
    }
    100% {
        height : 80%;
    }
}
@keyframes boxOpen2 {
    0% {
        width : 0px;
    }
    100% {
        width : 80%;
    }
}
@keyframes boxOpen3 {
    0% {
        height : 0px;
    }
    100% {
        height : 80%;
    }
}
@keyframes textOpen {
    0% {
        width : 0%;
        opacity: 0;
    }
    100% {
        width : 100%;
        opacity: 1;
    }
}
@keyframes linkOpen {
    0% {
        opacity: 0;
        transform : scaleY(0);
    }
    100% {
        transform : scaleY(1);
        opacity: 1;
    }
}
@tailwind base;
@tailwind components;
@tailwind utilities;