@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800');

* {
    max-width: 100%;
    box-sizing: border-box;
    font-family: Poppins, 'san-serif';
    scroll-behavior: smooth;
}
.home__main {
    animation: 1000ms slideIn ease-out;
    animation-fill-mode: forwards;
    opacity: 0;
}
@keyframes slideIn {
    0% {
        opacity:0;
        transform: translateX(-300px)
    }
    100% {
        opacity:1;
        transform: translateX(0px)
    }
}
.home__svg {
    animation: 1000ms slideInSVG ease-out;
    animation-fill-mode: forwards;
    opacity: 0;
}
@keyframes slideInSVG {
    0% {
        opacity:0;
        transform: translateY(300px)
    }
    100% {
        opacity:1;
        transform: translateY(0px)
    }
}
.downNav {
    animation: 1000ms bounceUpDown ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

@keyframes bounceUpDown {
    0% {
        transform: translateY(10px)
    }
    100% {
        transform: translateY(-10px)
    }
}

.tiltDiv {
    transform: rotate(3deg);
}
.tiltDiv li {
    margin-bottom: 10px;
}
.loader {
    animation : 1000ms loader linear infinite;
    width: 2rem;
    height: 2rem;
    background-color: transparent;
    border : 4px solid white;
    border-top : 4px solid rgb(1, 159, 238);
    border-radius: 50%;
}
.redloader {
    animation : 600ms loader linear infinite;
    width: 1.8rem;
    height: 1.8rem;
    background-color: transparent;
    border : 4px solid rgb(100, 100, 100);
    border-top : 4px solid rgb(185, 0, 0);
    border-radius: 50%;
}
@keyframes loader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@tailwind base;
@tailwind components;
@tailwind utilities;